<div class="row">
  <div class="small-12 medium-9 columns small-centered">
    <p id="notice"><%= notice %></p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>
<% unless @user.stripe_customer_id %>
<div class="callout warning">
  <h5>Roomhere Premium</h5>
  <p>$5.00/mo/property for premium features like - Emergency Notifications</p>
  <%= form_tag payments_url do %>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
      data-image="<%= image_url "white_logo_color_background.jpg" %>"
      data-name="Roomhere Premium"
      data-description="Monthly Subsciption Per Property"
      data-amount="<%= @user.property_cost %>"
      data-label="Sign Me Up!" >
    </script>
  <% end %>

</div>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
