<% content_for :meta do %>
  <meta property="og:title" content="<%= @property.address1 %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= truncate(@property.description, length: 160) %>" />
  <meta property="og:url" content="<%= property_url(@property) %>" />
  <% unless @property.images.empty? %>
    <meta property="og:image" content="<%= @property.main_image.url %>" />
  <% end %>
<% end %>
    <style>
    .rental {
      height: 0px;
    }
    </style>

    <div class="row">
      <div class="small-12 medium-9 columns small-centered">
    <div class="section rental"></div>
    <div class="row">
        <div class="medium-6 columns">
          <% unless @property.images.empty? %>
            <div class="orbit" role="region" aria-label="Pictures" data-orbit>
            <ul class="orbit-container">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          <% @property.images.each do |image| %>
            <li class="orbit-slide <%= "is-active" if image == @property.main_image %>">
              <%= image_tag image.url, class: "orbit-image" %>
              <figcaption class="orbit-caption"></figcaption>
            </li>
          <% end %>
            </ul>
        </div>
        <% end %>
        </div>
        <div class="medium-6 large-5 columns" id="firstdesc">
            <h3><%= @property.address1 %></h3>
            <p><%= @property.description %></p>

            <label><%= @property.bedrooms %> Bedrooms</label><br>
            <label><%= @property.bathrooms %> Bath</label><br>
            <!-- <label>Lease</label><br> -->
            <h5><%= number_to_currency(@property.price) %> Monthly Rent</h5><br>
            <% if @property.unclaimed? %>
              <%= link_to "Claim Property", claim_property_path(@property), class: "button large expanded" %>
            <% elsif @property.owner == current_user %>
              <%= link_to "Edit Property", edit_property_path(@property), class: "button large expanded" %>
            <% else %>
              <a class="button large expanded" href="#">Rent Now</a>
            <% end %>
            <div class="small secondary expanded button-group">
                <a class="button">Facebook</a> <a class="button">Twitter</a>
                <a class="button">Instagram</a>
            </div>
        </div>
    </div>
    <div class="row column">
        <hr>
    </div>
    <div class="row column">
        <h3>About This Listing</h3>
    </div>
    <div class="row">
    <div class="large-4 columns">
        <h5>
            This Space
        </h5>
        <hr>
        <br>
        <label>
            Bathrooms: <%= @property.bathrooms %>
        </label>
        <br>
        <label>
            Bedrooms: <%= @property.bedrooms %>
        </label>
        <br>
        <label>
            Property Type: <%= @property.types.pluck(:name).uniq.join(", ") %>
        </label>
        <br>
        <label>
            Owner Email: <%= @property.contact_email %>
        </label>
        <br>
        <label>
            School District
        </label>
        <br>
        <label>
            Nearby: <%= @property.locations.pluck(:full_name).uniq.join(", ") %>
        </label>
        <br>
    </div>
    <div class="large-8 columns">
        <h5>
            Amenenities
        </h5>
        <hr>
        <div class="row small-up-2">
            <div class="js-amenities">
                <% Amenity.find_each do |amenity| %>
                    <% if @property.amenities.include?(amenity) %>
                    <div class="column <%= amenity.icon ? '' : 'js-amenityHide' %>">
                        <label>
                            <% if amenity.icon %>
                                <i class="fa <%= amenity.icon %>" aria-hidden="true"></i>
                            <% end %>
                            <%= amenity.name %>
                        </label>
                    </div>
                    <% else %>
                    <div class="column js-amenityHide">
                        <label>
                            <del><%= amenity.name %></del>
                        </label>
                        </div>
                    <% end %>
                <% end %>

                <div class="column">
                    <a href="#" class="toggle-more">+ more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column row">
        <hr>
        <ul class="tabs" data-tabs="" id="example-tabs">
            <li class="tabs-title is-active">
                <a aria-selected="true" href="#panel1">Reviews</a>
            </li>
            <li class="tabs-title">
                <a href="#panel2">Similar Rentals</a>
            </li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <h4>Reviews</h4>
                <div class="media-object stack-for-small">
                    <div class="media-object-section"><img class="thumbnail"
                    src="http://placehold.it/200x200"></div>
                    <div class="media-object-section">
                        <h5>Mike Stevenson</h5>
                        <p>I'm going to improvise. Listen, there's something
                        you should know about me... about inception. An idea is
                        like a virus, resilient, highly contagious. The
                        smallest seed of an idea can grow. It can grow to
                        define or destroy you.</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section"><img class="thumbnail"
                    src="http://placehold.it/200x200"></div>
                    <div class="media-object-section">
                        <h5>Mike Stevenson</h5>
                        <p>I'm going to improvise. Listen, there's something
                        you should know about me... about inception. An idea is
                        like a virus, resilient, highly contagious. The
                        smallest seed of an idea can grow. It can grow to
                        define or destroy you</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section"><img class="thumbnail"
                    src="http://placehold.it/200x200"></div>
                    <div class="media-object-section">
                        <h5>Mike Stevenson</h5>
                        <p>I'm going to improvise. Listen, there's something
                        you should know about me... about inception. An idea is
                        like a virus, resilient, highly contagious. The
                        smallest seed of an idea can grow. It can grow to
                        define or destroy you</p>
                    </div>
                </div><label>My Review
                <textarea placeholder="None"></textarea></label> <button class=
                "button">Submit Review</button>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row medium-up-3 large-up-5">
                    <div class="column">
                        <img class="thumbnail" src=
                        "http://placehold.it/350x200">
                        <h5>Other Rental <small>$22</small></h5>
                        <p>In condimentum facilisis porta. Sed nec diam eu diam
                        mattis viverra. Nulla fringilla, orci ac euismod
                        semper, magna diam.</p><a class=
                        "button hollow tiny expanded" href="#">view now</a>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src=
                        "http://placehold.it/350x200">
                        <h5>Other Rental <small>$22</small></h5>
                        <p>In condimentum facilisis porta. Sed nec diam eu diam
                        mattis viverra. Nulla fringilla, orci ac euismod
                        semper, magna diam.</p><a class=
                        "button hollow tiny expanded" href="#">view now</a>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src=
                        "http://placehold.it/350x200">
                        <h5>Other Rental <small>$22</small></h5>
                        <p>In condimentum facilisis porta. Sed nec diam eu diam
                        mattis viverra. Nulla fringilla, orci ac euismod
                        semper, magna diam.</p><a class=
                        "button hollow tiny expanded" href="#">view now</a>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src=
                        "http://placehold.it/350x200">
                        <h5>Other Rental <small>$22</small></h5>
                        <p>In condimentum facilisis porta. Sed nec diam eu diam
                        mattis viverra. Nulla fringilla, orci ac euismod
                        semper, magna diam.</p><a class=
                        "button hollow tiny expanded" href="#">view now</a>
                    </div>
                  </div>
                </div>
