<section id="one">
    <div class="row full-width left-margin-fix">
        <div class="large-7 columns">

            <div class="row">
                <div class="large-2 columns">
                    <p class="ext-head-room">Rental Type</p>
                </div>
                <div class="large-10 columns">
                  <div class="row js-types-facet">
                    <% Type.find_each do |type| %>
                      <div class="small-3 columns">
                        <%= label_tag nil, type.name %>
                        <%= check_box_tag :types, type.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="large-2 columns">
                    <p class="ext-head-room">Amenities</p>
                </div>
                <div class="large-10 columns">
                  <div class="row js-amenities-facet">
                    <% Amenity.find_each do |amenity| %>
                      <div class="small-3 columns">
                        <%= label_tag nil, amenity.name %>
                        <%= check_box_tag :amenities, amenity.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="large-2 columns">
                    <p class="ext-head-room">Locations</p>
                </div>
                <div class="large-10 columns">
                  <div class="row js-locations-facet">
                    <% Location.find_each do |location| %>
                      <div class="small-3 columns">
                        <%= label_tag nil, location.facet_name %>
                        <%= check_box_tag :locations, location.facet_name %>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="large-2 columns">
                    <p class="ext-head-room">Min Price</p>
                </div>
                <div class="large-10 columns">
                  <div class="row js-min-price-facet">
                    <%= select_tag(:min_price, options_for_select(available_prices)) %> 
                  </div>
                </div>
            </div>


            <div class="row">
              <div class="large-12 columns">
                <div id="properties-list" class="row small-up-1 medium-up-2">
                </div>
              </div>
            </div>
            <div class="row head-room">
              <div class="large-12 text-center columns">
                <div class="js-pagination" role="navigation" aria-label="Pagination">
                </div>
              </div>
            </div>
        </div>
        <div class="large-5 columns" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101555.94688130058!2d-89.62582613124731!3d37.304059862972146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8877853694cf77fb%3A0x80901cff3a8d5f92!2sCape+Girardeau%2C+MO!5e0!3m2!1sen!2sus!4v1469241266352" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
</section>

<script>
 $(document).ready(function() {
   Facetr.initProperties();
   Facetr.initFacets();
 });

 function renderedProperty() {
   return '<%= escape_javascript(render partial: "properties/card") %>';
 }
 </script>
